/* 실습1 */
/* 화면 넓이가 500px 이상일 경우  */
@media (min-width: 500px) {
  body {
    background-color: skyblue;
  }
}
/* width가 300미만일때 */
@media (max-width: 300px) {
  body {
    background-color: orange;
  }
}
/* width가 300이상 500미만 */
@media (min-width: 300px) and (max-width: 500px) {
  body {
    background-color: none;
  }
}
/* height가 300미만 */
@media (max-height: 300px) {
  p {
    font-style: italic;
  }
}
/* height 500이상 */
@media (min-height: 500px) {
  p {
    background-color: green;
  }
}
