<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs 연습하기</title>
  </head>
  <body>
    <h1>Hello ! Express!!!!연습하기이잉</h1>
    <!-- 여기서 JavaScript사용할때 <%%>이런 이상한거 써야됨  -->
  </body>
</html>
