<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs 연습하기</title>
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <!-- <header>헤더</header> -->
    <!-- 다른 view 파일을 불러올 때 사용  -->
    <%- include('./includes/header')%>

    <h1>Hello ! Express!!!!연습하기이잉</h1>
    <!-- 여기서 JavaScript사용할때 <%%>이런 이상한거 써야됨  -->
    <!-- <% for(let i = 0; i<4;i++){ %>
    <h1>분신사바</h1>
    <%}%> -->
  </body>
</html>
